@import '../../variables.scss';

.ant-layout {
    min-height: 100vh;
    background: none;
    background-size: cover;
    transition: background-image 0.4s ease-in-out;

    .ant-layout-sider {
        overflow: auto;
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: 10;
        opacity: 0.8;

        &:hover {
            opacity: 1;
        }

        .ant-layout-sider-children {
            padding-top: 3rem;

            .ant-menu {
                position: relative;

                .menu-delete-btn {
                    @include hidden-element;
                }

                &.ant-menu-inline-collapsed {
                    pointer-events: none;

                    .ant-menu-item, .ant-menu-item-selected {
                        .menu-delete-btn {
                            @include hidden-element;
                        }
                    }
                }

                .ant-menu-item-selected {
                    .menu-delete-btn {
                        position: absolute;
                        @include flex-all-centered;
                        transition: all 0.1s ease-in-out;
                        border-radius: 100%;
                        width: 1.5rem;
                        height: 1.5rem;
                        right: 4%;
                        top: 50%;
                        color: $color-dark-blue;
                        transform: translateY(-50%);
                        visibility: visible;
                        opacity: 1;
                        border: none;
                        cursor: pointer;
                        z-index: 100;
                        border: 1px solid $color-dark-blue;
    
                        &:hover {
                            color: $color-red;
                            border: 1px solid $color-red;
                        }
    
                        &:active {
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
    }

    .site-layout {
        padding-left: $width-sider;

        .ant-layout-header {
            height: 3rem;
            background-color: transparent;

            @media (max-width: $size-xs) {
                padding: 0;
                margin: 0 auto;
            }
        }

        .ant-layout-content {
            @include flex-all-centered;
            padding: 0 10rem 2rem;

            @media (max-width: $size-l) {
                padding: 0 2rem 2rem;
            }

            &.flex-all-centered {
                @include flex-all-centered;
            }

            .welcome-block {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                gap: 0.5rem;
                width: 30rem;
                height: 15rem;
                background-color: $color-white;
                border-radius: $border-radius-weather-block;
                padding: 2rem;
                text-align: center;
                @include opacity-low;

                @media (max-width: $size-l) {
                    height: max-content;
                    gap: 2rem;
                }

                h1 {
                    font-size: 2rem;
                }

                span {
                    font-size: 1.2rem;
                }
            }
        }

        .ant-layout-footer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            color: $color-white;
            background-color: $color-dark-blue;

            .copyright-links {
                display: flex;
                align-items: center;
                gap: 0.5rem;

                i {
                    font-size: 1.5rem;
                    color: $color-white
                }

                i:hover {
                    opacity: 0.6;
                }
            }
        }
    }
}