@import '../../variables.scss';

.city-search-container {
    display: flex;
    position: relative;
    align-items: center;
    width: 15rem;
    height: 100%;
    margin-left: auto;

    .search-options-container {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
        z-index: 90;
        top: 90%;
        left: 0;
        height: max-content;

        .search-option-button {
            border-radius: 0;
            width: 15rem;

            span {
                text-align: start;
                width: 13rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    .ant-space-compact {   
        input:disabled, button:disabled {
            background-color: $color-white;
        }
        
        input:disabled {
            opacity: 0.8;
        }

        button:disabled {
            opacity: 0.7;
        }
    }
}