@import "../../variables.scss";

.weather-hourly-forecast {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 1rem;

    @media (max-width: $media-max-1180) {
        flex-direction: column;
        width: max-content;
    }
}