@import '../../variables.scss';

.weather-days-forecast {
    display: flex;
    flex-direction: column;
    width: max-content;

    .weather-days-container {
        @include flex-all-centered;

        section {
            @include flex-all-centered;
            flex-direction: column;
            text-align: center;
            min-width: 5rem;

            img {
                height: 3rem;
                width: 3rem;
            }

            .hourly-forecast-temp {
                font-size: 1.1rem;
            }
        }
    }
}