.short-weather-info {
    width: 15rem;
    margin: 0 auto;
    text-align: center;

    p {
        font-size: 1.2rem;
    }

    .city {
        font-size: 2rem;
    }

    .degree {
        font-size: 4rem;
    }
}