@import "../../variables.scss";

.hourly-forecast {
    display: flex;
    width: max-content;
    gap: 2rem;

    & > section {
        display: flex;
        flex-direction: column;
        text-align: center;

        img {
            height: 3rem;
            width: 3rem;
        }
    }
}