@import "../../variables.scss";

.hourly-forecast {
    display: flex;
    width: max-content;
    gap: 1rem;

    & > section {
        @include flex-all-centered;
        flex-direction: column;
        text-align: center;
        min-width: 5rem;

        img {
            height: 3rem;
            width: 3rem;
        }

        .hourly-forecast-temp {
            font-size: 1.1rem;
        }
    }
}