@import "../../variables.scss";

.hourly-forecast {
    display: flex;
    width: max-content;
    gap: 1rem;

    div {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 0.5rem;

        img {
            height: 3rem;
            width: 3rem;
        }
    }
}