@import '../../variables.scss';

.weather-detailed-forecast-item {
    position: relative;
    width: 8rem;

    img {
        position: absolute;
        width: 70%;
        height: 70%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.08;
    }
}