@import '../../variables.scss';

.weather-detailed-forecast {
    @include flex-all-centered;
    flex-wrap: wrap;
    gap: 0.5rem;
    width: 100%;

    @media (max-width: $max-width-1040) {
        flex-wrap: nowrap;
        flex-direction: column;
    }
    
    .weather-detailed-forecast-item {
        position: relative;
        width: 9rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 8rem;
        background-color: $color-white;
        padding: 1rem;
        border-radius: $border-radius-weather-block;

        @media (max-width: $max-width-540) {
            width: 15rem;
        }
    
        img {
            position: absolute;
            width: 6rem;
            height: 6rem;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0.04;
        }
    
        p {
            font-size: 1rem;
        }
    }
}