$color-grey: #f5f5f5;
$color-transparent-grey: #dcdcdc64;
$color-white: #fff;
$color-dark-blue: #01396e;
$color-red: #b41301;

$width-sider: 5rem;

$border-radius-weather-block: 0.5rem;

@mixin flex-all-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}