$size-xxl: 59rem;
$size-xl: 28rem;
$size-l: 20rem;
$size-m: 18rem;
$size-s: 15rem;

$window-l: 1180px;
$window-m: 790px;
$window-s: 540px;

$color-white: #ffffff;
$color-dark-blue: #01396e;
$color-red: #ff6868;

$width-sider: 5rem;

$border-radius-common-block: 0.5rem;

@mixin flex-all-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin opacity-low {
  transition: opacity 0.1s ease-in;

  &.opacity-low {
    opacity: 0.5;
  }
}

@mixin update-button {
  position: absolute;
  top: -5%;
  right: -5%;
  background-image: url("../public/assets/icons/update.png");
  background-size: contain;
  background-color: $color-white;
  cursor: pointer;
  font-weight: bold;
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
  border: 5px solid $color-white;
  opacity: 1;
  transition: opacity 0.1s ease-in;

  &:hover {
    opacity: 0.8;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

@mixin transition-standard {
  transition: all 0.1s ease-in-out;
}

@mixin box-shadow-standard {
  box-shadow: 4px 4px 59px 0px rgba(34, 60, 80, 0.3);
}

@mixin box-shadow-light {
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

@mixin hidden-element {
  visibility: hidden;
  opacity: 0;
}
